@media (max-width: 1279px) {
  .h1 {
    font-size: 56px;
  }
  .nav {
    padding: 20px 0;
  }
  .header {
    height: 550px;
  }
  .header__content {
    padding-top: 70px;
  }
  .header__title {
    margin-bottom: 68px;
  }
  .header__video-block {
    gap: 10px;
    left: -32px;
  }
  .header__video-btn {
    width: 64px;
    height: 64px;
  }
  .slider__item {
    height: 550px;
  }
  .header-slider .owl-dots {
    bottom: 30px;
  }
  .header-slider__nav {
    right: 40px;
    bottom: 30px;
  }
  .header-slider__prev, .header-slider__next {
    width: 48px;
    height: 48px;
  }
  .portfolio,
  .about,
  .contacts {
    padding: 60px 0 80px;
  }
  .portfolio__title,
  .about__title,
  .contacts__title {
    margin-bottom: 30px;
  }
  .about__content {
    gap: 60px;
  }
  .about__img {
    width: 370px;
    height: 450px;
  }
  .about__text-wrapper {
    margin-bottom: 20px;
  }
  .about__statistic {
    gap: 10px;
  }
  .about__statistic-number {
    font-size: 80px;
  }
  .form {
    max-width: 400px;
  }
  .form__input {
    padding: 0 15px;
    height: 50px;
  }
  .contacts__content {
    gap: 70px;
  }
  .contacts__list {
    gap: 40px 20px;
  }
  .form__textarea {
    height: 220px;
    padding: 20px 15px;
  }
  .form__submit {
    padding: 18px 70px;
  }
  .footer {
    padding: 30px 0;
  }
}
@media (max-width: 1023px) {
  .h2 {
    font-size: 34px;
  }
  .nav {
    padding: 14px 0;
  }
  .header__content {
    padding-top: 40px;
  }
  .header__title {
    margin-bottom: 141px;
    max-width: 300px;
  }
  .header__title .h1 {
    line-height: 1.1;
  }
  .header__title > * + * {
    margin-top: 6px;
  }
  .header__video-text {
    display: none;
  }
  .header__slider {
    width: 45%;
  }
  .header-slider .owl-dots {
    display: none;
  }
  .header-slider__nav {
    right: 20px;
    bottom: 20px;
  }
  .header-slider__prev, .header-slider__next {
    width: 48px;
    height: 48px;
  }
  .portfolio,
  .about,
  .contacts {
    padding: 40px 0 60px;
  }
  .portfolio__title,
  .about__title,
  .contacts__title {
    margin-bottom: 20px;
  }
  .about__content {
    gap: 30px;
  }
  .about__img {
    width: 300px;
  }
  .about__description {
    flex-grow: 1;
  }
  .about__text-wrapper {
    margin-bottom: 15px;
    max-width: unset;
  }
  .about__text + .about__text {
    margin-top: 14px;
  }
  .about__statistic {
    gap: 60px;
  }
  .about__statistic-item {
    width: unset;
  }
  .about__statistic-number {
    font-size: 64px;
  }
  .form {
    max-width: 340px;
  }
  .form > * + * {
    margin-top: 10px;
  }
  .form__input {
    padding: 0 15px;
    height: 40px;
  }
  .form__textarea {
    height: 200px;
    padding: 20px 15px;
  }
  .form__submit {
    padding: 16px 70px;
    width: 100%;
  }
  .contacts__content {
    gap: 60px;
  }
  .contacts__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .footer {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .nav__link + .nav__link {
    margin-left: 30px;
  }
  .about__content {
    gap: 20px;
  }
  .about__img {
    width: 270px;
    height: 390px;
  }
  .about__text-wrapper {
    margin-bottom: 15px;
  }
  .contacts__content {
    gap: 40px;
  }
}
@media (max-width: 735px) {
  .about__content {
    flex-direction: column;
    align-items: start;
  }
  .about__img {
    width: 280px;
    height: 320px;
  }
  .contacts__content {
    flex-direction: column;
  }
  .form {
    max-width: 100%;
  }
  .form__submit {
    width: 280px;
  }
  .contacts__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .works {
    gap: 10px;
  }
}
@media (max-width: 599px) {
  .header {
    height: fit-content;
  }
  .header__slider {
    display: none;
  }
  .header__title {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .header__title > * + * {
    margin-top: 20px;
  }
  .header__video-text {
    display: block;
  }
  .nav {
    padding: 20px 0;
  }
  .nav__container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 567px) {
  .contacts__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .header__video-text {
    display: none;
  }
}
@media (max-width: 428px) {
  .header {
    height: 100vh;
    max-height: 720px;
  }
  .header__content {
    padding-top: 80px;
  }
  .nav__link + .nav__link {
    margin-left: 20px;
  }
  .header__title {
    margin-bottom: 150px;
  }
  .header__title > * + * {
    margin-top: 10px;
  }
  .header__video-text {
    max-width: unset;
  }
  .works__link:hover .work__img {
    transform: none;
  }
  .portfolio__content .owl-dots {
    display: none;
  }
  .portfolio__content .owl-item:not(.active) {
    filter: blur(2px) grayscale(1);
  }
  .about__statistic-number {
    font-size: 54px;
  }
  .about__statistic-text {
    margin-top: -5px;
    font-size: 12px;
  }
  .form__submit {
    width: 100%;
  }
  .contacts__item {
    gap: 12px;
  }
  .footer {
    padding: 20px 0;
  }
}
@media (max-width: 359px) {
  .h1 {
    font-size: 50px;
  }
  .h2 {
    font-size: 30px;
  }
  .header {
    height: 100vh;
    max-height: 480px;
  }
  .header__content {
    padding-top: 30px;
  }
  .header__title {
    margin-bottom: 40px;
  }
}